{% extends 'baseFront.html.twig' %}

{% block title %}New Commande{% endblock %}
{% block body %}

    <div class="container d-lg-flex">
        <div class="box-1 bg-light user">
            <div class="d-flex align-items-center mb-3">
                <img src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                     class="pic rounded-circle" alt="">
                <p class="ps-2 name">Oliur</p>
            </div>
            <div class="box-inner-1 pb-3 mb-3 ">
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold">{{ produit.nomproduit }}</p>
                    <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>{{ produit.prix }}</p>
                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                     data-bs-interval="2000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#my" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#my" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#my" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('/uploads/atachments/'~produit.img) }}"
                                 class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.pexels.com/photos/258092/pexels-photo-258092.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                                 class="d-block w-100 h-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                                 class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">
                        <div class="icon">
                            <span class="fas fa-arrow-left"></span>
                        </div>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">
                        <div class="icon">
                            <span class="fas fa-arrow-right"></span>
                        </div>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p class="dis info my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quos ipsa
                    sed officiis odio
                </p>

            </div>
        </div>
        <div class="box-2">
            <div class="box-inner-2">
                <div>
                    <p class="fw-bold">Payment Details</p>
                    <p class="dis mb-3">Complete your purchase by providing your payment details</p>
                </div>
                <form method="post" action="{{ path('app_commande_new', {'id': produit.id}) }}">
                    {{ form_widget(form._token) }}
                    <div class="mb-3">
                        <p class="dis fw-bold mb-2">Produit</p>
                        <input class="form-control" id={{ produit.id }} value={{ produit.nomproduit }}>
                    </div>
                    <div>
                        <p class="dis fw-bold mb-2">Quantité</p>
                        <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                            {{ form_widget(form.qtcommande, {'id': 'quantity','value':'1'}) }}
                        </div>
                        </div>
                        <div class="my-3 cardname">
                            <p class="dis fw-bold mb-2">Prix total</p>
                            {{ form_widget(form.prix, {'id': 'price','value':produit.prix }) }}
                          </div>
                    <p>Price per unit: {{ produit.prix }}</p>
                    <p>Total price: <span id="price">{{ produit.prix }}</span></p>
                        <div class="my-3 cardname">

                        {{ form_row(form.datecommande) }}
                            {{ form_errors(form) }}
                        </div>
                        <div class="address">
                                <div class="btn btn-primary mt-2"  >
                                    <button type="submit">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var quantityInput = document.getElementById('quantity');
        var priceElement = document.getElementById('price');
        var pricePerUnit = {{ produit.prix }};
        var totalPrice = pricePerUnit;
        quantityInput.addEventListener('change', function() {
            var quantity = parseInt(quantityInput.value);
            totalPrice = pricePerUnit * quantity;
            priceElement.textContent = totalPrice.toFixed(2);
        });
    </script>
{% endblock %}
